@import url("https://fonts.googleapis.com/css2?family=Sora&family=Space+Grotesk&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  width: 100vw;
}

body {
  background-color: #06112f;
  color: #030d22;
}

div.page {
  background-color: #fffdf5;
  color: #030d22;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 64px);
  padding: 3rem 2rem 2rem 2rem;
  text-align: center;
  width: 100%;
}

div.page > h1,
div.page > h2 {
  color: #cc9c00;
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  div.page {
    padding: 3rem 1.5rem 2rem 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  div.page {
    padding: 4rem 4rem 2rem 4rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk";
  font-weight: bold;
}

button {
  font-family: "Space Grotesk";
  font-weight: bold;
}

input,
label,
li,
p,
textarea {
  font-family: "Sora";
}

h1 {
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
}

h2 {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
}

h3 {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
}

h4 {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
}

h5 {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
}

h6 {
  font-size: 1rem /* 16px */;
  line-height: 1.5rem /* 24px */;
}
